* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

button,
a {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border: none;
}
@media (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #a1a1a1;
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
  }
}

.nav {
  display: none;
}
@media (min-width: 1200px) {
  .nav {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
  padding: 40px 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  position: relative;
}

.nav-link:hover::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
  top: 58px;
  left: 0;
}

.burger__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .burger__btn {
    display: none;
  }
}

.burger {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 48px 40px;
  overflow: auto;
}

.burger__btn__close {
  background-color: transparent;
  border: transparent;
  position: absolute;
  z-index: 11;
}

.burger__icon {
  width: 40px;
  height: 40px;
}

.burger__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  z-index: 11;
}

.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.burger__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  background-image: url(../../images/hero-background.jpg);
  padding: 220px 0 335px 0;
  position: relative;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 134%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 40px;
  }
}

.hero-btn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  background-color: #4985ff;
  border-radius: 30px;
  border: transparent;
  padding: 13px 36px;
}

.dodatki {
  margin-top: 110px;
  margin-bottom: 105px;
}

.dodatki__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  letter-spacing: 0%;
  text-align: center;
  color: #323232;
}

.dodatki__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
}

.dodatki__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 30px;
}

.dodatki__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.dodatki__icon {
  width: 40px;
  height: 40px;
  fill: #4985ff;
  color: #4985ff;
  display: inline-block;
}

.dodatki__title__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 10px;
}

.dodatki__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0%;
  color: #999999;
}

.border__gray {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  display: block;
  width: 110px;
  height: 110px;
}

.border__blue {
  border: 1px solid #4985ff;
  border-radius: 50%;
  padding: 25px;
  width: 90px;
  height: 90px;
}

.dodatki__contain {
  margin-top: 50px;
}

.standarts {
  background-color: #f6f6f8;
  padding-top: 80px;
  padding-bottom: 70px;
}

.standart__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  letter-spacing: 0%;
  color: #323232;
  margin-top: 52px;
  margin-bottom: 60px;
}

.standart__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0%;
  color: #999;
  margin-bottom: 42px;
}

.standart__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  color: #4985ff;
  margin-bottom: 53px;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.standart__link:hover {
  color: rgba(73, 134, 255, 0.7019607843);
}

.standart__img {
  display: block;
  width: 500px;
  height: 400px;
  border-radius: 30px;
  position: absolute;
  right: 200px;
  top: 100px;
}

.standart__contain {
  padding-bottom: 143px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.standarts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  padding: 0 90px;
}

.standarts__icon {
  width: 30px;
  height: 30px;
  fill: #4985ff;
  color: #4985ff;
  margin-top: 6px;
}

.fixer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.standarts__count {
  font-size: 36px;
  font-weight: 400;
}

.works {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #504dc2), color-stop(50%, #fff));
  background-image: linear-gradient(to bottom, #504dc2 50%, #fff 50%);
  margin-bottom: 100px;
}

.works__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 70px;
  margin-top: 70px;
}

.works__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  background-color: #4985ff;
  border: transparent;
  border-radius: 30px;
  padding: 13px 35px 15px 35px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 70px;
}

.works__list::after {
  content: "";
  display: block;
  width: 97%;
  height: 2px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works__img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.works__name {
  margin: 30px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.works__span {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4985ff;
}

.works__desc {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0%;
  color: #999999;
}

.works__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  color: #4985ff;
}

.projects {
  background-color: #f6f6f8;
  padding-top: 80px;
  padding-bottom: 100px;
}

.projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
  margin-bottom: 92px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__img {
  width: 255px;
  height: 225px;
  border-radius: 10px;
}

.projects__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  background-color: #4985ff;
  border-radius: 30px;
  border: transparent;
  padding: 15px 36px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}