.dodatki {
  margin-top: 110px;
  margin-bottom: 105px;
}
.dodatki__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  letter-spacing: 0%;
  text-align: center;
  color: #323232;
  margin-bottom: 30px;
}
.dodatki__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
}
.dodatki__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: top;
  gap: 30px;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}
.dodatki__item {
  display: flex;
  text-align: left;
}
.dodatki__icon {
  width: 40px;
  height: 40px;
  fill: #4985ff;
  color: #4985ff;
  display: inline-block;
}
.dodatki__title__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 10px;
}
.dodatki__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0%;
  color: #999999;
}
.border__gray {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  display: block;
  width: 110px;
  height: 110px;
}
.border__blue {
  border: 1px solid #4985ff;
  border-radius: 50%;
  padding: 25px;
  width: 90px;
  height: 90px;
}
.dodatki__contain {
  margin-top: 10px;
  @media (min-width: 1200px) {
    margin-top: 50px;
  }
}
