.footer {
  background-color: #f6f6f8;
}
.list__of__lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  gap: 40px;
  padding-bottom: 70px;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 40px;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-between;
  }
}
.footer__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin-bottom: 5px;
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0%;
  color: #999999;
}
.footer__list__icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.footer__item__icons {
  display: flex;
}
.footer__icon {
  width: 15px;
  height: 15px;
  fill: #999999;
  color: #999999;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.footer__finish {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  letter-spacing: 0%;
  text-align: center;
  color: #999999;
  padding-top: 30px;
  padding-bottom: 30px;
}
