.header {
  border: none;
  @media (min-width: 1200px) {
    border-bottom: 1px solid #a1a1a1;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}
.nav {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 40px 0;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  position: relative;
}
.nav-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
  top: 30px;
  left: 0;
  opacity: 0;

  transform: scaleX(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.burger__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  text-align: center;
  @media (min-width: 1200px) {
    display: none;
  }
}
.burger {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 48px 40px;
  overflow: auto;
}
.burger__btn__close {
  background-color: transparent;
  border: transparent;
  position: absolute;
  right: 15%;
  top: 4%;
  z-index: 11;
}
.burger__icon {
  width: 40px;
  height: 40px;
}
.burger__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  z-index: 11;
}
.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.burger__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.burger__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
