.standarts {
  background-color: #f6f6f8;
  padding-top: 80px;
  padding-bottom: 70px;
}
.standart__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  letter-spacing: 0%;
  color: #323232;
  margin-top: 52px;
  margin-bottom: 60px;
}
.standart__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0%;
  color: #999;
  margin-bottom: 42px;
}
.standart__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  color: #4985ff;
  margin-bottom: 53px;
  transition: color 0.1s linear;
}
.standart__link:hover {
  color: #4986ffb3;
}
.standart__img {
  display: none;
  width: 500px;
  height: 400px;
  border-radius: 30px;
  position: absolute;
  right: 50px;
  top: 0;
  @media (min-width: 1200px) {
    display: block;
  }
}
.standart__contain {
  padding-bottom: 143px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.standarts__list {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0 90px;
  flex-wrap: wrap;
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 100px;
  }
}
.standarts__icon {
  width: 30px;
  height: 30px;
  fill: #4985ff;
  color: #4985ff;
  margin-top: 6px;
}
.fixer {
  display: flex;
  gap: 10px;
}
.standarts__count {
  font-size: 36px;
  font-weight: 400;
}
.standart__item:nth-child(5) {
  align-items: center;
}
